* {
    margin: 0;
    box-sizing: border-box;
}

body {
  font-size: 10vmin;
}

#game, #choice {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  height: 50vh;
}

#choice {
  flex-direction: column;
}

#game>* {
  height: 100%;
  flex: 1 1 auto;
  font-size: 150%;
}
